{
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "quoteProps": "consistent",
  "importOrder": ["^components/(.*)$", "^[./]" ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}